<launch>
  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="Object_Detection_Nodelet" args="load object_detection/Object_Detection_Nodelet standalone_nodelet" output="screen">
  </node>                 
</launch>
